.btn-filter {
    padding: 4px 8px;
    margin-right: 12px;
    transition: all .25s ease-in-out;
    background: transparent;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;

    &__all {
        color: gray;
        border-color: gray;

        &:hover,
        &--active {
            color: #fff;
            background: gray;
        }
    }

    &__ordered {
        color: #df5989;
        border-color: #df5989;

        &:hover,
        &--active {
            color: #fff;
            background-color: #df5989;
        }
    }

    &__refill {
        color: #3f51b5;
        border-color: #3f51b5;

        &:hover,
        &--active {
            color: #fff;
            background-color: #3f51b5;
        }
    }

    &__waiting {
        color: #e97a18;
        border-color: #e97a18;

        &:hover,
        &--active {
            color: #fff;
            background-color: #e97a18;
        }
    }
}
